<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 참가자 목록</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<th:block th:include="include/topnav.html :: header('project')"/>

<h1>프로젝트 참가자 목록</h1>
<a href="#"
   onclick="showCreate()"
   th:text="'참가자 추가'"></a>
<div id="create-div"
     style="display: none">
    <table>
        <thead>
        <tr>
            <th>회원 아이디</th>
            <th>회원 이름</th>
            <th>부여할 권한</th>
            <th>추가</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${accountList}">
            <form method="post"
                  th:action="@{${@projectAccountMappingProperties.getWriteUrl(projectId)}}">
                <td th:text="${account.accountId}"></td>
                <td th:text="${account.authority}"></td>
                <td></td>
                <td>
                    <button type="submit">추가</button>
                </td>
            </form>
        </tr>
        </tbody>
    </table>

</div>
<script>
    function showCreate() {
        const div = document.getElementById("create-div");

        div.style.display = div.style.display === "none" ? "" : "none";
    }
</script>


<table>
    <thead>
    <tr>
        <th>참가자 아이디</th>
        <th>참가자 이름</th>
        <th>참가자 권한</th>
        <th>수정</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account : ${projectAccountList}">
        <td th:text="${account.accountId}"></td>
<!--        <td th:text="${account.accountName}"></td>-->
        <td th:text="${account.authority}"></td>
        <td>
            <button type="submit">적용</button>
        </td>
    </tr>
    </tbody>
</table>

<div class="page">
    <p>Page <span th:text="${page.number}"></span> of <span th:text="${pageCount}"></span></p>
    <p>Total projects: <span th:text="${totalCount}"></span></p>
    <th:block th:if="${pageCount > 0}" th:each="i: ${#numbers.sequence(0, (pageCount - 1))}">
        <a th:href="@{'?page=' + ${i} + '&size=10'} " th:text="${i} + '. '"/>
    </th:block>
</div>
</body>
</html>